body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  .navbar-left {
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 5px;
      transition: background-color 0.3s;
      font-weight: bold;

      &:hover {
        background-color: #555;
      }
    }
  }

  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
}
