// Custom CSS for the webpage

// Variables
:root {
  --link_color: inherit;
  --background_color2: #0066ff;
  --background_color1: #002233;
  --text_color: white;
  --text_color_secondary: grey;
}

$common_transition_timing: 0.3s;

/* Custom style for the footer link and footer link hover effects */
.footer {
  background-color: var(--background_color1);
}

.footer-link {
  color: var(--link_color);
  text-decoration: none;

  :hover {
    color: var(--background_color2);
    text-decoration: none;
    cursor: pointer;
  }
}

/* background image styles for the landing section. This also will work as the dark mode*/
.landing {
  background-image: url("/res/svg/wave-haikei.svg");
  aspect-ratio: 550/300;
  width: 100%;
  height: 95vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .title {
    color: var(--text_color);
  }
}

// Overrriding the default styles of bootstrap modal
.modal-content {
  background-color: var(--background_color1);
  color: var(--text_color);

  code {
    color: var(--background_color2);
  }

  button {
    background-color: var(--background_color2);
  }
}

.light-mode {
  --background_color1: white;
  --text_color: black;
  --link_color: black;
  --background_color2: #0066ff;

  .landing {
    background-image: url("/res/svg/wave-haikei-light.svg");
  }
}

// Make the mouse cursor to pointer when putting on the dark/light mode icon
#mode_icon {
  cursor: pointer;
}

// Styles for AIUB- & the bot logo
.bot-logo {
  transform: translate(50%);
  display: none;
  z-index: 1;
  position: relative;
  transition-delay: 1s;
}

.aiub-logo {
  z-index: 2;
  position: relative;
}

.aiub-logo:hover {
  animation: aiub-logo-rotation 1s normal;
}

.aiub-logo:hover + .bot-logo {
  display: block;
  // transform: translate(-1%);
}

@keyframes aiub-logo-rotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Add the strech effect only for larger screens, more specifically disable the strech transition on mobile devices */
@media screen and (min-width: 768px) {
  .btn-strech {
    transition: letter-spacing $common_transition_timing ease-in-out;

    &:hover {
      letter-spacing: 1.5px;
    }
  }
}

#help_icon {
  cursor: pointer;
}

.modal-body #shortcuts_title {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
  // text-decoration: 5px underline var(--background_color2);
  font-weight: bold;
  letter-spacing: 1vw;
  transition: 0.3s ease-in-out;
}

// For the collapsible section of the hosted on discord links | Also Available On Collapsible
.collapsible {
  display: none;
  transition: 0.5s ease-in-out;
}

.collapHeader {
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
